

.sssss{
  box-shadow: inset 0px 0px 15px red;
  width: 50%;
  height: 50%;
  position: relative;
  background: rgb(207, 192, 192);
padding: 30px;
overflow: hidden;
transition: all 0.3s;}
/* .sssss:hover{
  transform:translateY(50%) scale(1.2)
} */
.display-none {
  display: none;
}
.cover {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  background: rgb(231, 127, 0);
  transition: 500ms ease-in
}
.cover-before{
  transform: scale(1);
  width: 0px;
  height: 0px;
  transition: 450ms ease-in
}
.cover-after{
  transform:scale(1);
  border-bottom-right-radius: 10rem;
  width: 200%;
  height: 200%;
}
@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700,800,900');
.mt-2{
  max-width: 100%;
}
body{
	font-family: 'Poppins', sans-serif;
	font-weight: 300;
	font-size: 15px;
	line-height: 1.7;
	color: #c4c3ca;
	background-color: #1f2029;
	overflow-x: hidden;
}